.dropdown {
  border-radius: 0.25rem;
  border: 1px solid #d3d3d3;
  outline: 0.1875rem solid transparent;
  background-color: #ffffff;

  color: #404040;
  text-align: left;

  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-property: filter, color, background-color, border-color, outline;

  &.small {
    min-width: 8.75rem;
    height: 1.75rem;
    padding: 0 0.5rem;
    font-size: 0.75rem;
  }

  &.medium {
    min-width: 12.5rem;
    height: 2.25rem;
    padding: 0 0.75rem;
    font-size: 0.875rem;
  }

  &.large {
    min-width: 15rem;
    height: 3.125rem;
    padding: 0 1rem;
    font-size: 1rem;
  }

  &:hover {
    filter: brightness(1.05);
  }

  &:active {
    filter: brightness(0.9);
  }

  &:disabled {
    border-color: #f0f0f0;
    background-color: #ffffff;
    color: #acacac;
    cursor: not-allowed;
  }

  &:focus {
    outline: 0.1875rem solid rgba(#d3d3d3, 0.33);
  }
}
