$transition: 0.2s ease-in-out;

.dropdown {
  height: fit-content;
  position: relative;

  .button {
    padding: 0;
  }

  .display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.placeholder {
      color: var(--text-tertiary);
    }
  }

  .options {
    height: 0;

    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    left: 0;

    pointer-events: none;
    overflow: hidden;
  }

  &.fullWidth {
    width: 100%;
  }

  &.large {
    min-width: 15rem;

    .display {
      padding: 0 0.5rem 0 1rem;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &.medium {
    min-width: 12.5rem;

    .display {
      padding: 0 0.1875rem 0 0.75rem;
    }

    .icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.small {
    min-width: 8.75rem;

    .display {
      padding: 0 0.125rem 0 0.5rem;
    }

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }
}
