.button {
  width: fit-content;

  display: block;
  padding: 0 0.5rem;

  position: relative;

  border-radius: 0.25rem;
  border: 1px solid;
  outline: 0.1875rem solid transparent;

  user-select: none;

  cursor: pointer;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  transition-property: filter, color, background-color, border-color, outline;

  &.primary {
    border-color: #208efc;
    background-color: #208efc;
    color: #ffffff;

    &:disabled {
      border-color: #9bc5f8;
      background-color: #9bc5f8;
      color: #ffffff;
    }

    &:focus {
      outline: 0.1875rem solid rgba(#208efc, 0.33);
    }
  }

  &.secondary {
    border-color: #d3d3d3;
    background-color: #ffffff;
    color: #404040;

    &:disabled {
      border-color: #f0f0f0;
      background-color: #ffffff;
      color: #acacac;
    }

    &:focus {
      outline: 0.1875rem solid rgba(#d3d3d3, 0.33);
    }
  }

  &.tertiary {
    border-color: #d3d3d3;
    background-color: #d3d3d3;
    color: #404040;

    &:disabled {
      border-color: #f0f0f0;
      background-color: #f0f0f0;
      color: #acacac;
    }

    &:focus {
      outline: 0.1875rem solid rgba(#d3d3d3, 0.33);
    }
  }

  &.danger {
    border-color: #ff4040;
    background-color: #ff4040;
    color: #ffffff;

    &:disabled {
      border-color: #f2a3a1;
      background-color: #f2a3a1;
      color: #ffffff;
    }

    &:focus {
      outline: 0.1875rem solid rgba(#ff4040, 0.33);
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.small {
    min-width: 4.625rem;
    height: 1.75rem;
    font-size: 0.75rem;
  }

  &.medium {
    min-width: 5.625rem;
    height: 2.25rem;
    font-size: 0.875rem;
  }

  &.large {
    min-width: 6.875rem;
    height: 3.125rem;
    font-size: 1rem;
  }

  &:not(:disabled):hover {
    filter: brightness(1.05);
  }

  &:not(:disabled):active {
    filter: brightness(0.9);
  }

  > * {
    pointer-events: none;
  }
}

@mixin padeIn {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  animation: fadeIn 0.2s ease-in-out forwards;
}

@mixin fadeOut {
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  animation: fadeOut 0.2s ease-in-out forwards;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  inset: 0;
  z-index: 1;

  @include padeIn;

  .processing & {
    @include fadeOut;
  }
}

.processingAnimation {
  @include padeIn;

  .button:not(.processing) & {
    @include fadeOut;
  }

  &::after {
    width: 1.5rem;
    height: 1.5rem;

    content: "";
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    border: 0.25rem solid rgba(#ffffff, 0.5);
    border-right-color: rgba(#ffffff, 0.15);
    border-bottom-color: rgba(#ffffff, 0.15);

    @keyframes spin {
      0% {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      100% {
        transform: translate(-50%, -50%) rotate(405deg);
      }
    }

    animation: spin 1s ease-in-out infinite;
  }
}
