.button {
  width: fit-content;

  display: block;
  padding: 0 0.5rem;

  position: relative;

  border-radius: 0.25rem;
  border: 1px solid;

  user-select: none;

  cursor: pointer;
  overflow: hidden;
  transition: filter 0.2s ease-in-out;

  &.primary {
    border-color: #208efc;
    background-color: #208efc;
    color: #ffffff;
  }

  &.secondary {
    border-color: #d3d3d3;
    background-color: #ffffff;
    color: #303030;
  }

  &.tertiary {
    border-color: #d3d3d3;
    background-color: #d3d3d3;
    color: #303030;
  }

  &.danger {
    border-color: #ff4040;
    background-color: #ff4040;
    color: #ffffff;
  }

  &.small {
    min-width: 4.625rem;
    height: 1.75rem;
    font-size: 0.75rem;

    .focusAnimation::after {
      width: 3rem;
      height: 3rem;
    }
  }

  &.medium {
    min-width: 5.625rem;
    height: 2.25rem;
    font-size: 0.875rem;

    .focusAnimation::after {
      width: 4rem;
      height: 4rem;
    }
  }

  &.large {
    min-width: 6.875rem;
    height: 3.125rem;
    font-size: 1rem;

    .focusAnimation::after {
      width: 5rem;
      height: 5rem;
    }
  }

  &:hover {
    filter: brightness(1.2);
  }

  &:active {
    filter: brightness(0.9);
  }

  > * {
    pointer-events: none;
  }
}

.focusAnimation {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      display: none;
    }
  }

  animation: fadeIn 0.2s ease-in-out forwards;

  .button:not(:focus) &,
  .button:active & {
    animation: fadeOut 0.2s ease-in-out forwards;
  }

  @keyframes scaleCircle {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }

    100% {
      transform: translate(-50%, -50%) scale(1.25);
    }
  }

  &::after {
    display: block;
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    background-color: rgba(black, 0.1);

    animation: scaleCircle 1.5s ease-in-out infinite alternate;
  }
}

.content {
  position: relative;
  z-index: 1;
}
