:root {
  --primary-1: #208efc;
  --primary-2: #5fa9f7;
  --primary-3: #9bc5f8;
  --primary-4: #d7e1fb;

  --status-red-1: #ff4040;
  --status-red-2: #ff7373;
  --status-red-3: #f2a3a1;
  --status-red-4: #f2c2c2;

  --status-green-1: #00b300;
  --status-green-2: #00e600;
  --status-green-3: #33ff33;
  --status-green-4: #66ff66;

  --status-yellow-1: #ffcc00;
  --status-yellow-2: #ffdb4d;
  --status-yellow-3: #ffea99;
  --status-yellow-4: #fff5cc;

  --gray-white: #ffffff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-1000: #121212;
  --gray-black: #000000;

  --border-white: var(--gray-white);
  --border-primary: var(--gray-400);
  --border-secondary: var(--gray-300);
  --border-disabled: var(--gray-200);

  --bg-white: var(--gray-white);
  --bg-primary: var(--gray-100);
  --bg-secondary: var(--gray-200);
  --bg-disabled: var(--gray-300);

  --text-white: var(--gray-white);
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-700);
  --text-tertiary: var(--gray-600);
  --text-disabled: var(--gray-500);

  --text-large: 1rem;
  --text-medium: 0.875rem;
  --text-small: 0.75rem;

  --radius-large: 0.5rem;
  --radius-medium: 0.25rem;
  --radius-small: 0.125rem;
}
