.icon {
  --icon-size: 1.5rem;

  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--icon-color, var(--text-primary));

  > * {
    pointer-events: none;
  }

  > div {
    width: inherit;
    height: inherit;

    svg {
      width: var(--icon-size);
      height: var(--icon-size);
      display: block;
      pointer-events: none;
    }
  }

  .materialIcons {
    font-size: var(--icon-size);
  }
}
